In [ ]:
from operator import add
import pandas as pd

In [1]:
spark=SparkSession.builder.appName("UIDAI").getOrCreate()

In [1]:
spark

In [3]:
#spark.sparkContext.getConf().getAll()

In [4]:
spark.conf.set("spark.sql.shuffle.partitions",5)

In [10]:
uid=spark.read.options(header="true",\
                       inferschema="true",\
                       nullvalue="N/A",\
                       mode = "failfast").\
                       csv("C:/Users/pg186028/Documents/GitHub/aadhaar-dataset-analysis/data/UIDAI-ENR-DETAIL-20170308.csv")

Py4JJavaError: An error occurred while calling o261.csv.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 0.0 failed 1 times, most recent failure: Lost task 0.0 in stage 0.0 (TID 0, localhost, executor driver): java.nio.channels.ClosedChannelException
	at org.apache.spark.network.client.StreamInterceptor.channelInactive(StreamInterceptor.java:60)
	at org.apache.spark.network.util.TransportFrameDecoder.channelInactive(TransportFrameDecoder.java:179)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:245)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:231)
	at io.netty.channel.AbstractChannelHandlerContext.fireChannelInactive(AbstractChannelHandlerContext.java:224)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.channelInactive(DefaultChannelPipeline.java:1354)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:245)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:231)
	at io.netty.channel.DefaultChannelPipeline.fireChannelInactive(DefaultChannelPipeline.java:917)
	at io.netty.channel.AbstractChannel$AbstractUnsafe$8.run(AbstractChannel.java:822)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:163)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:403)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:463)
	at io.netty.util.concurrent.SingleThreadEventExecutor$5.run(SingleThreadEventExecutor.java:858)
	at io.netty.util.concurrent.DefaultThreadFactory$DefaultRunnableDecorator.run(DefaultThreadFactory.java:138)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1599)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1587)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1586)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1586)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1820)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1769)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1758)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2027)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2048)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2067)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:363)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset.org$apache$spark$sql$Dataset$$collectFromPlan(Dataset.scala:3272)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset$$anonfun$head$1.apply(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3253)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:77)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3252)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2484)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2698)
	at org.apache.spark.sql.execution.datasources.csv.TextInputCSVDataSource$.infer(CSVDataSource.scala:148)
	at org.apache.spark.sql.execution.datasources.csv.CSVDataSource.inferSchema(CSVDataSource.scala:63)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat.inferSchema(CSVFileFormat.scala:57)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$8.apply(DataSource.scala:202)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$8.apply(DataSource.scala:202)
	at scala.Option.orElse(Option.scala:289)
	at org.apache.spark.sql.execution.datasources.DataSource.getOrInferFileFormatSchema(DataSource.scala:201)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:392)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:239)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:227)
	at org.apache.spark.sql.DataFrameReader.csv(DataFrameReader.scala:594)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.nio.channels.ClosedChannelException
	at org.apache.spark.network.client.StreamInterceptor.channelInactive(StreamInterceptor.java:60)
	at org.apache.spark.network.util.TransportFrameDecoder.channelInactive(TransportFrameDecoder.java:179)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:245)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:231)
	at io.netty.channel.AbstractChannelHandlerContext.fireChannelInactive(AbstractChannelHandlerContext.java:224)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.channelInactive(DefaultChannelPipeline.java:1354)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:245)
	at io.netty.channel.AbstractChannelHandlerContext.invokeChannelInactive(AbstractChannelHandlerContext.java:231)
	at io.netty.channel.DefaultChannelPipeline.fireChannelInactive(DefaultChannelPipeline.java:917)
	at io.netty.channel.AbstractChannel$AbstractUnsafe$8.run(AbstractChannel.java:822)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:163)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:403)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:463)
	at io.netty.util.concurrent.SingleThreadEventExecutor$5.run(SingleThreadEventExecutor.java:858)
	at io.netty.util.concurrent.DefaultThreadFactory$DefaultRunnableDecorator.run(DefaultThreadFactory.java:138)
	... 1 more

In [64]:
uid.count()

440818

In [65]:
uid.dtypes

[('Registrar', 'string'),
 ('Enrolment Agency', 'string'),
 ('State', 'string'),
 ('District', 'string'),
 ('Sub District', 'string'),
 ('Pin Code', 'string'),
 ('Gender', 'string'),
 ('Age', 'int'),
 ('Aadhaar generated', 'int'),
 ('Enrolment Rejected', 'int'),
 ('Residents providing email', 'int'),
 ('Residents providing mobile number', 'int')]

In [18]:
uid.createOrReplaceTempView("uid_t")

In [19]:
uid.columns

['Registrar',
 'Enrolment Agency',
 'State',
 'District',
 'Sub District',
 'Pin Code',
 'Gender',
 'Age',
 'Aadhaar generated',
 'Enrolment Rejected',
 'Residents providing email',
 'Residents providing mobile number']

In [20]:
spark.sql("""select State\
            ,sum(`Aadhaar generated`) from uid_t group by State""").show()

+--------------------+----------------------+
|               State|sum(Aadhaar generated)|
+--------------------+----------------------+
|           Karnataka|                 19764|
|              Odisha|                 18182|
|      Madhya Pradesh|                 53276|
|         Maharashtra|                 26085|
|           Telangana|                  5018|
|         West Bengal|                119901|
|        Chhattisgarh|                  6604|
|             Haryana|                  6804|
|   Jammu and Kashmir|                  1234|
|   Arunachal Pradesh|                   913|
|             Manipur|                  1323|
|              Others|                    12|
|               Bihar|                162607|
|              Kerala|                 15143|
|             Mizoram|                  6279|
|              Sikkim|                    50|
|      Andhra Pradesh|                  5798|
|           Rajasthan|                 39570|
|Andaman and Nicob...|                     5|
|           Jharkhand|                  9868|
+--------------------+----------------------+
only showing top 20 rows

In [19]:
uid2=uid.groupBy("State").sum("Aadhaar generated")
uid3=uid2.withColumnRenamed("sum(Aadhaar generated)","total").toPandas()
uid3

                          State   total
0                      Nagaland     545
1                     Karnataka   19764
2                        Odisha   18182
3                        Kerala   15143
4                    Tamil Nadu   32485
5                  Chhattisgarh    6604
6                Andhra Pradesh    5798
7                   Lakshadweep       4
8                Madhya Pradesh   53276
9                        Punjab    6506
10                      Manipur    1323
11                          Goa    1167
12                      Mizoram    6279
13       Dadra and Nagar Haveli     140
14             Himachal Pradesh    1547
15                   Puducherry      83
16                      Haryana    6804
17            Jammu and Kashmir    1234
18                    Jharkhand    9868
19            Arunachal Pradesh     913
20                      Gujarat   34844
21                       Sikkim      50
22                        Delhi    8426
23                       Others      12
24                   Chandigarh     259
25                    Rajasthan   39570
26  Andaman and Nicobar Islands       5
27                        Assam    3213
28                    Meghalaya     277
29                Daman and Diu     105
30                  Maharashtra   26085
31                    Telangana    5018
32                  West Bengal  119901
33                        Bihar  162607
34                      Tripura     908
35                Uttar Pradesh  103767
36                  Uttarakhand   13227

In [5]:
text="To read the first item from the file, you can use the following command".split(" ")

In [7]:
test_rdd=spark.sparkContext.parallelize(text,5)   #parallelize is one of the method to create RDD 
test_rdd_count=test_rdd.count()  # count is an action on RDD that we have created
test_rdd_distinct=test_rdd.groupBy(lambda x:x).count()
test_rdd.glom().collect()
print("Total Number of words in text : ", test_rdd_count)
print("Total Number of distinct words : ", test_rdd_distinct)

Total Number of words in text :  14
Total Number of distinct words :  12

In [51]:
val=test_rdd.filter("read")

In [8]:
type(test_rdd)

pyspark.rdd.RDD

In [61]:
test_rdd.map(lambda word: (word, 1)).reduceByKey(lambda a, b: a + b).collect()

[('file,', 1),
 ('following', 1),
 ('read', 1),
 ('you', 1),
 ('the', 3),
 ('use', 1),
 ('command', 1),
 ('To', 1),
 ('first', 1),
 ('item', 1),
 ('from', 1),
 ('can', 1)]

In [63]:
spark.range(5).collect()

[Row(id=0), Row(id=1), Row(id=2), Row(id=3), Row(id=4)]

# -------------------

In [2]:

spark

In [100]:
data=spark.read.load("C:/Users/pg186028/Documents/sample_data.csv",format="csv",\
                     header=False,
                     inferschema=True,\
                     nullvalue=0)

In [99]:
data.show()

+------+----+
|   _c0| _c1|
+------+----+
| Punit| 100|
| Punit| 200|
|Vishal| 300|
|Vishal| 500|
| Nitin|null|
| Nitin| 700|
+------+----+

In [11]:
data2=data.groupBy("_c0").sum("_c1")

In [14]:
data2.withColumnRenamed('_c0','name').withColumnRenamed('sum(_c1)','total').toPandas()

     name  total
0   Punit    300
1  Vishal    800
2   Nitin    700

In [39]:
type(data)

pyspark.sql.dataframe.DataFrame

# --------------

In [89]:
d_p=data.rdd

In [72]:
d_p2=d_p.repartition(3)

In [67]:
d_p.glom().collect()

[[Row(_c0='Punit', _c1=100),
  Row(_c0='Punit', _c1=200),
  Row(_c0='Vishal', _c1=300),
  Row(_c0='Vishal', _c1=500),
  Row(_c0='Nitin', _c1=1000),
  Row(_c0='Nitin', _c1=700)]]

In [68]:
d_p.map(lambda x: (x[0],x[1])).reduceByKey(add).collect()

[('Punit', 300), ('Vishal', 800), ('Nitin', 1700)]

In [69]:
type(d_p)

pyspark.rdd.RDD

In [73]:
d_p2.getNumPartitions()

3

In [88]:
type(d_p)

pyspark.rdd.PipelinedRDD

In [83]:
d_p2=d_p.flatMap(lambda x : (x[0],x[1])).partitionBy()

In [84]:
d_p2

['Punit',
 100,
 'Punit',
 200,
 'Vishal',
 300,
 'Vishal',
 500,
 'Nitin',
 1000,
 'Nitin',
 700]

In [85]:
type(d_p2)

list

In [95]:
spark.sparkContext

In [96]:
sc=SparkSession.builder.appName("test").getOrCreate()

In [97]:
sc

In [101]:
data.show()

+------+----+
|   _c0| _c1|
+------+----+
| Punit| 100|
| Punit| 200|
|Vishal| 300|
|Vishal| 500|
| Nitin|null|
| Nitin| 700|
+------+----+

In [103]:
data.fillna(0).show()

+------+---+
|   _c0|_c1|
+------+---+
| Punit|100|
| Punit|200|
|Vishal|300|
|Vishal|500|
| Nitin|  0|
| Nitin|700|
+------+---+

In [104]:
spark.sparkContext

In [108]:
spark2=spark.newSession()

In [118]:
spark.sparkContext.getConf().getAll()

[('spark.sql.catalogImplementation', 'hive'),
 ('spark.app.name', 'test'),
 ('spark.app.id', 'local-1561392756284'),
 ('spark.rdd.compress', 'True'),
 ('spark.driver.port', '56758'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.host', 'WINPG186028-3FP.TD.TERADATA.COM'),
 ('spark.ui.showConsoleProgress', 'true')]

In [125]:
mySpark =SparkSession.builder.appName("Spark SQL basic example").getOrCreate()

In [271]:
from operator import add

In [272]:
sc1=SparkSession.builder.appName("UIDAI").getOrCreate()

In [273]:
x=spark.sparkContext.parallelize([("a", 1), ("b", 1), ("a", 1)])

In [1]:
from operator import add
rdd = spark.sparkContext.parallelize([("a", 1), ("b", 1), ("a", 1)])
sorted(rdd.reduceByKey(add).collect())

[('a', 2), ('b', 1)]

In [4]:
sc1=SparkSession.builder.appName("Test").getOrCreate()

In [5]:
dt=sc1.sparkContext.textFile("C:/Users/pg186028/Documents/sample_data.csv",3)

In [6]:
dt.collect()

['Punit,100', 'Punit,200', 'Vishal,300', 'Vishal,500', 'Nitin,', 'Nitin,700']

In [193]:
dt2=dt.map(lambda x:x.split(","))

In [195]:
type(dt2)

pyspark.rdd.PipelinedRDD

In [181]:
dt.flatMap(lambda x:x.split(",")).collect()

['Punit',
 '100',
 'Punit',
 '200',
 'Vishal',
 '300',
 'Vishal',
 '500',
 'Nitin',
 '',
 'Nitin',
 '700']

In [182]:
dt3=dt2.distinct()

In [191]:
type(dt2)

list

In [201]:
dtx=spark.sparkContext.parallelize(dt2.collect())

In [202]:
type(dtx)

pyspark.rdd.RDD

In [209]:
dtx.collect()

[['Punit', '100'],
 ['Punit', '200'],
 ['Vishal', '300'],
 ['Vishal', '500'],
 ['Nitin', ''],
 ['Nitin', '700']]

In [52]:
sc1=SparkSession.builder.appName("Test").getOrCreate()

In [53]:
a=sc1.sparkContext.textFile("C:/Users/pg186028/Documents/sample_data.csv",3)

In [44]:
a1=a.map(lambda x : x.split(","))

In [45]:
a11=a1.map(lambda x : (x[0],0) if x[1]=='' else (x[0],x[1]))

In [46]:
a12=a11.map(lambda  x : (x[0],int(x[1])))

In [48]:
a12.collect()

[('Punit', 100),
 ('Punit', 200),
 ('Vishal', 300),
 ('Vishal', 500),
 ('Nitin', 0),
 ('Nitin', 700)]

In [50]:
a13=spark.sparkContext.parallelize(a12.collect(),3)

In [51]:
a13.collect()

[('Punit', 100),
 ('Punit', 200),
 ('Vishal', 300),
 ('Vishal', 500),
 ('Nitin', 0),
 ('Nitin', 700)]

In [33]:
type(a13)

pyspark.rdd.RDD

In [59]:
a13.collect()

[('Punit', 100),
 ('Punit', 200),
 ('Vishal', 300),
 ('Vishal', 500),
 ('Nitin', 0),
 ('Nitin', 700)]

In [61]:
a13.collect()

[('Punit', 100),
 ('Punit', 200),
 ('Vishal', 300),
 ('Vishal', 500),
 ('Nitin', 0),
 ('Nitin', 700)]

In [62]:
a13.glom().collect()

[[('Punit', 100), ('Punit', 200)],
 [('Vishal', 300), ('Vishal', 500)],
 [('Nitin', 0), ('Nitin', 700)]]

In [ ]:
a14=a13.reduceByKey(add)

In [ ]:
a14.collect()

In [ ]:
sp

In [ ]:
spark.readStream.csv()

In [ ]:
spark.sparkContext

In [1]:
txt="Split the lines into words"

In [3]:
words = x.select(
   explode(
       split(lines.value, " ")
   ).alias("word")
)

NameError: name 'explode' is not defined

In [8]:
txt.split(" ")

['Split', 'the', 'lines', 'into', 'words']

In [12]:
x=spark.sparkContext.parallelize(txt.split(" "),2)

In [13]:
x.to

pyspark.rdd.RDD

In [15]:
x.collect()

['Split', 'the', 'lines', 'into', 'words']

In [46]:
y=x.map(lambda x : (x,)).toDF()

In [47]:
y.show()

+-----+
|   _1|
+-----+
|Split|
|  the|
|lines|
| into|
|words|
+-----+

In [48]:
y.select(explode(y))

NameError: name 'explode' is not defined

In [34]:
schema1=spark.readStream.schema("_col0 STRING, _col1 INTEGER")

In [35]:
type(schema1)

pyspark.sql.streaming.DataStreamReader

In [59]:
sparkStreaming = SparkSession \
    .builder \
    .appName("StructuredNetworkWordCount") \
    .getOrCreate()

In [60]:
stream_df=sparkStreaming.readStream.csv("C:/Users/pg186028/Documents/DataVisualization/sparkStream",
                                        ("col0 STRING, col1 INTEGER"))

In [61]:
stream_df=spark.readStream.schema("col0 STRING, col1 INTEGER").option("maxFilesPerTrigger", 1).csv("C:/Users/pg186028/Documents/DataVisualization/sparkStream")

In [63]:
sql1=stream_df.groupBy("col0").sum("col1")

In [64]:
query = sql1.writeStream.outputMode("complete").format("console").start()

In [89]:
query.status

{'message': 'Stopped', 'isDataAvailable': False, 'isTriggerActive': False}

In [88]:
query.stop()

In [16]:
# ----------------------------------------------

In [55]:
static=spark.read.csv("C:/Users/pg186028/Documents/DataVisualization/sparkStream")

In [56]:
static.schema

StructType(List(StructField(_c0,StringType,true),StructField(_c1,StringType,true)))

In [60]:
schemaFile=static.schema

In [61]:
sparkStreaming = SparkSession \
    .builder \
    .appName("StructuredNetworkWordCount") \
    .getOrCreate()

In [62]:
stream_df=spark.readStream.schema(schemaFile).option("maxFilesPerTrigger", 1).csv("C:/Users/pg186028/Documents/DataVisualization/sparkStream")

In [64]:
query = sql1.writeStream.outputMode("complete").format("console").start()

In [65]:
query.stop()

In [69]:
type(stream_df)

pyspark.sql.dataframe.DataFrame

In [12]:
#----------------------------------------------------------

In [13]:
sparkStreaming2 = SparkSession \
    .builder \
    .appName("StructuredNetworkWordCount") \
    .getOrCreate()

In [14]:
spark_json=sparkStreaming2.read.json("C:/Users/pg186028/Documents/DataVisualization/part-00008-tid-730451297822678341-1dda7027-2071-4d73-a0e2-7fb6a91e1d1f-0-c000.json")

In [15]:
json_schema=spark_json.schema

In [16]:
setJsonStream=sparkStreaming2.readStream.schema(json_schema).option("maxFilesPerTrigger", 1).csv("C:/Users/pg186028/Documents/GitHub/Spark-The-Definitive-Guide/data/activity-data")

In [19]:
sql1=setJsonStream.groupby('gt').count()

In [20]:
jsonQuery=sql1.writeStream.outputMode("complete").format("console").start()

In [21]:
jsonQuery.status

{'message': 'Getting offsets from FileStreamSource[file:/C:/Users/pg186028/Documents/GitHub/Spark-The-Definitive-Guide/data/activity-data]',
 'isDataAvailable': False,
 'isTriggerActive': True}

In [22]:
jsonQuery.stop()

In [29]:
spark_json.show(10)

+-------------+-------------------+--------+-----+------+----+-----+-------------+-------------+-------------+
| Arrival_Time|      Creation_Time|  Device|Index| Model|User|   gt|            x|            y|            z|
+-------------+-------------------+--------+-----+------+----+-----+-------------+-------------+-------------+
|1424686734996|1424688581050172242|nexus4_2|    7|nexus4|   g|stand| -3.814697E-4|  0.019470215|  0.024795532|
|1424686735195|1424688581250214967|nexus4_2|   47|nexus4|   g|stand| -0.008926392|  -0.04675293|  0.008773804|
|1424686735398|1424688581451783570|nexus4_2|   87|nexus4|   g|stand| 0.0017547607| 0.0045166016|-0.0061798096|
|1424686735600|1424686733604187998|nexus4_1|  120|nexus4|   g|stand| 0.0024719238| -0.035812378| -0.024154663|
|1424686735803|1424686733807312998|nexus4_1|  160|nexus4|   g|stand| -7.324219E-4|   0.02079773| -0.005996704|
|1424686736001|1424688582056031617|nexus4_2|  207|nexus4|   g|stand|  0.002822876| -0.016845703| -0.020065308|
|1424686736206|1424686734208649668|nexus4_1|  240|nexus4|   g|stand| 0.0024719238| 0.0069122314| -6.561279E-4|
|1424686736410|1424686734414917978|nexus4_1|  281|nexus4|   g|stand| 0.0024719238|  0.007980347|  -0.00920105|
|1424686736614|1424686734601288828|nexus4_1|  318|nexus4|   g|stand|-0.0018005371|-0.0027008057| 0.0025482178|
|1424686736809|1424688582861695679|nexus4_2|  367|nexus4|   g|stand|  0.002822876| 0.0034484863|-0.0051116943|
+-------------+-------------------+--------+-----+------+----+-----+-------------+-------------+-------------+
only showing top 10 rows

In [1]:
sparkStreaming2 = SparkSession \
    .builder \
    .appName("StructuredNetworkWordCount") \
    .getOrCreate()

In [3]:
sparkStreaming2.sparkContext.setMaster("local[*]")

AttributeError: 'SparkContext' object has no attribute 'setMaster'

In [14]:
spark = SparkSession.builder.appName("pySparksqLite_test")\
.config('spark.jars.packages', 'C:/spark/spark-2.3.0-bin-hadoop2.7/jars/sqlite-jdbc-3.20.0.jar').getOrCreate()
spark.conf.set("spark.sql.shuffle.partitions", "5")

In [15]:
SparkConf().getAll()

[('spark.repl.local.jars',
  'file:///C:/Users/pg186028/Documents/DataVisualization/sqlite-jdbc-3.27.2.jar'),
 ('spark.jars',
  'file:///C:/Users/pg186028/Documents/DataVisualization/sqlite-jdbc-3.27.2.jar'),
 ('spark.master', 'local[*]'),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.name', 'PySparkShell'),
 ('spark.ui.showConsoleProgress', 'true')]

In [16]:
print(spark.sparkContext.uiWebUrl)

http://WINPG186028-3FP.TD.TERADATA.COM:4040

In [17]:
df=spark.read.format("jdbc").\
options(url ="jdbc:sqlite:C:/sqlite-tools-win32-x86-3290000/my-sqlite.db",
        driver="org.sqlite.JDBC",
        dbtable="(select DEST_COUNTRY_NAME,ORIGIN_COUNTRY_NAME,count from flight_info)").load()

In [18]:
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [19]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import numpy

In [1]:
cnf=SparkConf()

cnf.set("spark.jars","C:\\Users\pg186028\Documents\DataVisualization\sqlite-jdbc-3.27.2.jar")
sparkX = SparkSession.builder.appName("pySparksqLite_test").master("local[2]").config(conf=cnf).getOrCreate()
values = sparkX.sparkContext.getConf().getAll()

In [23]:
type(values)

list

In [13]:
from pyspark.sql import SparkSession,DataFrame

In [14]:
import pyspark.sql.functions as f

In [15]:
import pandas as pd

In [16]:
x=pd.DataFrame([
[1,1,4,500,1000]
,[2,1,3,100,200]
,[5,3,2,200,400]
,[1,3,4,200,200]
], columns=['id1','id2','id3','visit','investment'])

In [17]:
x

   id1  id2  id3  visit  investment
0    1    1    4    500        1000
1    2    1    3    100         200
2    5    3    2    200         400
3    1    3    4    200         200

In [1]:
sparkX = SparkSession.builder.appName("explode").master("local[2]").getOrCreate()

In [12]:
DataFrame(x)

AttributeError: 'function' object has no attribute 'DataFrame'

In [40]:
y=sparkX.createDataFrame(x.astype(str))

In [42]:
y.show()

+---+---+---+-----+----------+
|id1|id2|id3|visit|investment|
+---+---+---+-----+----------+
|  1|  1|  4|  500|      1000|
|  2|  1|  3|  100|       200|
|  5|  3|  2|  200|       400|
|  1|  3|  4|  200|       200|
+---+---+---+-----+----------+

In [43]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
rdd=sparkX.sparkContext.parallelize([1, 2, 3, 4], 2)

In [13]:
def f(splitIndex, iterator): yield splitIndex, lambda iterator : len(iterator)

In [14]:
x=rdd.mapPartitionsWithIndex(f)

In [15]:
type(x)

pyspark.rdd.PipelinedRDD

In [17]:
X=[{'0': 'HUMAN RESOURCES'}, {'1': 'CITY COUNCIL'}, {'1': 'TRANSPORTN'}, {'1': 'COMMUNITY DEVELOPMENT'}, {'1': 'INSPECTOR GEN'}, {'1': 'TREASURER'}, {'1': 'ADMIN HEARNG'}, {'2': 'STREETS & SAN'}, {'2': 'LAW'}, {'2': 'FINANCE'}, {'2': 'HUMAN RELATIONS'}, {'2': 'LICENSE APPL COMM'}, {'2': 'None'}, {'3': 'AVIATION'}, {'3': 'BUSINESS AFFAIRS'}, {'3': 'DISABILITIES'}, {'3': 'DoIT'}, {'4': 'WATER MGMNT'}, {'4': 'POLICE'}, {'4': 'FIRE'}, {'4': 'IPRA'}, {'4': 'POLICE BOARD'}, {'5': 'GENERAL SERVICES'}, {'5': 'FAMILY & SUPPORT'}, {'5': 'HEALTH'}, {'5': 'BOARD OF ELECTION'}, {'5': 'BOARD OF ETHICS'}, {'6': 'OEMC'}, {'6': "MAYOR'S OFFICE"}, {'6': 'BUILDINGS'}, {'6': 'PROCUREMENT'}, {'7': 'PUBLIC LIBRARY'}, {'7': 'CULTURAL AFFAIRS'}, {'7': 'ANIMAL CONTRL'}, {'7': 'CITY CLERK'}, {'7': 'BUDGET & MGMT'}]

In [18]:
X

[{'0': 'HUMAN RESOURCES'},
 {'1': 'CITY COUNCIL'},
 {'1': 'TRANSPORTN'},
 {'1': 'COMMUNITY DEVELOPMENT'},
 {'1': 'INSPECTOR GEN'},
 {'1': 'TREASURER'},
 {'1': 'ADMIN HEARNG'},
 {'2': 'STREETS & SAN'},
 {'2': 'LAW'},
 {'2': 'FINANCE'},
 {'2': 'HUMAN RELATIONS'},
 {'2': 'LICENSE APPL COMM'},
 {'2': 'None'},
 {'3': 'AVIATION'},
 {'3': 'BUSINESS AFFAIRS'},
 {'3': 'DISABILITIES'},
 {'3': 'DoIT'},
 {'4': 'WATER MGMNT'},
 {'4': 'POLICE'},
 {'4': 'FIRE'},
 {'4': 'IPRA'},
 {'4': 'POLICE BOARD'},
 {'5': 'GENERAL SERVICES'},
 {'5': 'FAMILY & SUPPORT'},
 {'5': 'HEALTH'},
 {'5': 'BOARD OF ELECTION'},
 {'5': 'BOARD OF ETHICS'},
 {'6': 'OEMC'},
 {'6': "MAYOR'S OFFICE"},
 {'6': 'BUILDINGS'},
 {'6': 'PROCUREMENT'},
 {'7': 'PUBLIC LIBRARY'},
 {'7': 'CULTURAL AFFAIRS'},
 {'7': 'ANIMAL CONTRL'},
 {'7': 'CITY CLERK'},
 {'7': 'BUDGET & MGMT'}]

In [19]:
import pandas as pd

In [47]:
pd.DataFrame([ (k,v) for x in X for (k, v) in x.items() ])

    0                      1
0   0        HUMAN RESOURCES
1   1           CITY COUNCIL
2   1             TRANSPORTN
3   1  COMMUNITY DEVELOPMENT
4   1          INSPECTOR GEN
5   1              TREASURER
6   1           ADMIN HEARNG
7   2          STREETS & SAN
8   2                    LAW
9   2                FINANCE
10  2        HUMAN RELATIONS
11  2      LICENSE APPL COMM
12  2                   None
13  3               AVIATION
14  3       BUSINESS AFFAIRS
15  3           DISABILITIES
16  3                   DoIT
17  4            WATER MGMNT
18  4                 POLICE
19  4                   FIRE
20  4                   IPRA
21  4           POLICE BOARD
22  5       GENERAL SERVICES
23  5       FAMILY & SUPPORT
24  5                 HEALTH
25  5      BOARD OF ELECTION
26  5        BOARD OF ETHICS
27  6                   OEMC
28  6         MAYOR'S OFFICE
29  6              BUILDINGS
30  6            PROCUREMENT
31  7         PUBLIC LIBRARY
32  7       CULTURAL AFFAIRS
33  7          ANIMAL CONTRL
34  7             CITY CLERK
35  7          BUDGET & MGMT

In [125]:
x=[[1,2.0444949493494923923],[1,3.2131203392492348234],[2,4000009.5934923492],[2,5000009.9093099787676767]]

In [126]:
y=sparkX.createDataFrame(x)

In [127]:
z=y.withColumnRenamed("X","Y")

In [128]:
z.show()

+---+------------------+
| _1|                _2|
+---+------------------+
|  1|2.0444949493494926|
|  1| 3.213120339249235|
|  2| 4000009.593492349|
|  2| 5000009.909309979|
+---+------------------+

In [129]:
from pyspark.sql.functions import sum as _SUM
from pyspark.sql.functions import round as _ROUND

In [130]:
z1=z.groupBy("_1").agg(_ROUND(_SUM("_2"),3)).alias("X")

In [131]:
z1.show()

+---+-----------------+
| _1|round(sum(_2), 3)|
+---+-----------------+
|  1|            5.258|
|  2|      9000019.503|
+---+-----------------+

In [165]:
# ALL about spark partitions
# partition concept in spark
# repartition data using a column
# not created any functions this is for learning

from pyspark.sql import SparkSession
from pyspark.sql import functions as f
import pandas as pd
import datetime
import time
from pyspark.sql.functions import regexp_replace,col
from pyspark.sql.functions import sum as _SUM
from pyspark.sql.functions import round  as Round


# start time of script , this is to see exact time of execution
print(datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S'))
sparkp = SparkSession.builder.appName("partitions").master("local[*]").getOrCreate()
chicago=sparkp.read.csv("C:/Users/pg186028/Documents/DataVisualization/chicago.csv"
                , inferSchema=True, header=True, nullValue="XX")
chicago2 = chicago.repartition(8, f.col("Department"))

# initial check
print("Default number of partitions:{}".format(chicago.rdd.getNumPartitions()))
print("Number of partitions  after repartitioning:{}".format(chicago2.rdd.getNumPartitions()))
print("Partition column :{}".format(chicago2.rdd.partitioner))

# check length (count) of each partition
print(chicago2.rdd.glom().map(len).collect())

# now lets see how data is distributed in partitions
print("partition Structure")

def f(index,it):
    for x in it:
        yield {str(index) : str(x["Department"])}
rdd_partition = chicago2.rdd.mapPartitionsWithIndex(f).collect()

# take distinct values key value of each partition and put it in a list.
x=[]
for i in rdd_partition:
    if i not in x:
        x.append(i)
print(x)

# let's see which partition has what data
rdd_partiton_key=pd.DataFrame([(k, v) for p in x for (k, v) in p.items()],columns=["a", "b"])
print(rdd_partiton_key)

print("data")

chicago3=chicago2.withColumn("Employee Annual Salary" ,regexp_replace(col("Employee Annual Salary"), '\\$','')).\
where(col("Department").isNotNull())
#chicago3.head(5)

chicago4=chicago3.groupby("Department").agg(Round(_SUM('Employee Annual Salary'),2).alias("X"))
chicago4.show()

print(type(chicago4))
print(type(chicago3))


# start time of script , this is to see end time of execution
print(datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S'))

2019-09-25 21:30:34
Default number of partitions:1
Number of partitions  after repartitioning:8
Partition column :None
[70, 1795, 3161, 1812, 19338, 2239, 2413, 1235]
partition Structure
[{'0': 'HUMAN RESOURCES'}, {'1': 'CITY COUNCIL'}, {'1': 'TRANSPORTN'}, {'1': 'COMMUNITY DEVELOPMENT'}, {'1': 'INSPECTOR GEN'}, {'1': 'TREASURER'}, {'1': 'ADMIN HEARNG'}, {'2': 'STREETS & SAN'}, {'2': 'LAW'}, {'2': 'FINANCE'}, {'2': 'HUMAN RELATIONS'}, {'2': 'LICENSE APPL COMM'}, {'2': 'None'}, {'3': 'AVIATION'}, {'3': 'BUSINESS AFFAIRS'}, {'3': 'DISABILITIES'}, {'3': 'DoIT'}, {'4': 'WATER MGMNT'}, {'4': 'POLICE'}, {'4': 'FIRE'}, {'4': 'IPRA'}, {'4': 'POLICE BOARD'}, {'5': 'GENERAL SERVICES'}, {'5': 'FAMILY & SUPPORT'}, {'5': 'HEALTH'}, {'5': 'BOARD OF ELECTION'}, {'5': 'BOARD OF ETHICS'}, {'6': 'OEMC'}, {'6': "MAYOR'S OFFICE"}, {'6': 'BUILDINGS'}, {'6': 'PROCUREMENT'}, {'7': 'PUBLIC LIBRARY'}, {'7': 'CULTURAL AFFAIRS'}, {'7': 'ANIMAL CONTRL'}, {'7': 'CITY CLERK'}, {'7': 'BUDGET & MGMT'}]
    a                      b
0   0        HUMAN RESOURCES
1   1           CITY COUNCIL
2   1             TRANSPORTN
3   1  COMMUNITY DEVELOPMENT
4   1          INSPECTOR GEN
5   1              TREASURER
6   1           ADMIN HEARNG
7   2          STREETS & SAN
8   2                    LAW
9   2                FINANCE
10  2        HUMAN RELATIONS
11  2      LICENSE APPL COMM
12  2                   None
13  3               AVIATION
14  3       BUSINESS AFFAIRS
15  3           DISABILITIES
16  3                   DoIT
17  4            WATER MGMNT
18  4                 POLICE
19  4                   FIRE
20  4                   IPRA
21  4           POLICE BOARD
22  5       GENERAL SERVICES
23  5       FAMILY & SUPPORT
24  5                 HEALTH
25  5      BOARD OF ELECTION
26  5        BOARD OF ETHICS
27  6                   OEMC
28  6         MAYOR'S OFFICE
29  6              BUILDINGS
30  6            PROCUREMENT
31  7         PUBLIC LIBRARY
32  7       CULTURAL AFFAIRS
33  7          ANIMAL CONTRL
34  7             CITY CLERK
35  7          BUDGET & MGMT
data
+--------------------+--------------+
|          Department|             X|
+--------------------+--------------+
|     HUMAN RESOURCES|     5313360.0|
|        CITY COUNCIL| 2.284304856E7|
|          TRANSPORTN|  9.13049476E7|
|COMMUNITY DEVELOP...|  1.79103032E7|
|       INSPECTOR GEN|     4680780.0|
|           TREASURER|     1991577.0|
|        ADMIN HEARNG|     2996364.0|
|       STREETS & SAN| 1.483405852E8|
|                 LAW|  3.09241238E7|
|             FINANCE|  4.08122384E7|
|     HUMAN RELATIONS|     1457052.0|
|   LICENSE APPL COMM|       71292.0|
|            AVIATION| 1.119751528E8|
|    BUSINESS AFFAIRS|  1.24684176E7|
|        DISABILITIES|     2259888.0|
|                DoIT|     9866184.0|
|         WATER MGMNT|1.5744227816E8|
|              POLICE|1.0928495046E9|
|                FIRE|4.5898020856E8|
|                IPRA|     7385256.0|
+--------------------+--------------+
only showing top 20 rows

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>
2019-09-25 21:30:58

In [91]:
chicago4=chicago3.groupby("Department").agg(Round(_SUM('Employee Annual Salary'),2).alias("X"))

In [92]:
chicago4.show()

+--------------------+--------------+
|          Department|             X|
+--------------------+--------------+
|     HUMAN RESOURCES|     5313360.0|
|        CITY COUNCIL| 2.284304856E7|
|          TRANSPORTN|  9.13049476E7|
|COMMUNITY DEVELOP...|  1.79103032E7|
|       INSPECTOR GEN|     4680780.0|
|           TREASURER|     1991577.0|
|        ADMIN HEARNG|     2996364.0|
|       STREETS & SAN| 1.483405852E8|
|                 LAW|  3.09241238E7|
|             FINANCE|  4.08122384E7|
|     HUMAN RELATIONS|     1457052.0|
|   LICENSE APPL COMM|       71292.0|
|            AVIATION| 1.119751528E8|
|    BUSINESS AFFAIRS|  1.24684176E7|
|        DISABILITIES|     2259888.0|
|                DoIT|     9866184.0|
|         WATER MGMNT|1.5744227816E8|
|              POLICE|1.0928495046E9|
|                FIRE|4.5898020856E8|
|                IPRA|     7385256.0|
+--------------------+--------------+
only showing top 20 rows

In [117]:
chicago4.select("Department",Round(col("X"),2)).show()

+--------------------+--------------+
|          Department|   round(X, 2)|
+--------------------+--------------+
|     HUMAN RESOURCES|     5313360.0|
|        CITY COUNCIL| 2.284304856E7|
|          TRANSPORTN|  9.13049476E7|
|COMMUNITY DEVELOP...|  1.79103032E7|
|       INSPECTOR GEN|     4680780.0|
|           TREASURER|     1991577.0|
|        ADMIN HEARNG|     2996364.0|
|       STREETS & SAN| 1.483405852E8|
|                 LAW|  3.09241238E7|
|             FINANCE|  4.08122384E7|
|     HUMAN RELATIONS|     1457052.0|
|   LICENSE APPL COMM|       71292.0|
|            AVIATION| 1.119751528E8|
|    BUSINESS AFFAIRS|  1.24684176E7|
|        DISABILITIES|     2259888.0|
|                DoIT|     9866184.0|
|         WATER MGMNT|1.5744227816E8|
|              POLICE|1.0928495046E9|
|                FIRE|4.5898020856E8|
|                IPRA|     7385256.0|
+--------------------+--------------+
only showing top 20 rows

In [132]:
chicago3.show()

+--------------------+--------------------+---------------+----------------------+
|                Name|      Position Title|     Department|Employee Annual Salary|
+--------------------+--------------------+---------------+----------------------+
| ALEXANDER,  WENDY R|           RECRUITER|HUMAN RESOURCES|              75048.00|
| ANGELETTI,  DIANE E|           CLERK III|HUMAN RESOURCES|              39096.00|
|  ANSON,  BENJAMIN W|CLASSIFICATION & ...|HUMAN RESOURCES|              66768.00|
|BATORSKI,  CHRISTINA| DEPUTY COMMISSIONER|HUMAN RESOURCES|             116604.00|
| BOWMAN,  BENJAMIN A|ASSOC CLASSIFICAT...|HUMAN RESOURCES|              58284.00|
|BRANTLEY KIRBY,  ...|CLASSIFICATION & ...|HUMAN RESOURCES|              90288.00|
|       BURNS,  LEO J|MANAGING DEPUTY C...|HUMAN RESOURCES|             127824.00|
|   CASSELL,  JACQLYN|           RECRUITER|HUMAN RESOURCES|              81228.00|
|          CHOI,  SOO|COMMISSIONER OF H...|HUMAN RESOURCES|             151572.00|
|   COLWELL,  TRACY P|TRAINING & DEVELO...|HUMAN RESOURCES|              82668.00|
|    CONDON,  KRISTIN|HR RECORDS SPECIA...|HUMAN RESOURCES|              48852.00|
|   COULTER,  CRAIG A|           RECRUITER|HUMAN RESOURCES|              92784.00|
|    DECKER,  GRACE A|HR RECORDS SPECIA...|HUMAN RESOURCES|              54108.00|
|     DELLO,  DIANE A|    INQUIRY AIDE III|HUMAN RESOURCES|              40932.00|
|DEMOPOULOS,  PANA...|           RECRUITER|HUMAN RESOURCES|              96840.00|
|DEUCHER,  ELIZABE...|  EEO INVESTIGATOR I|HUMAN RESOURCES|              55464.00|
|       DIAZ,  GLADYS|           RECRUITER|HUMAN RESOURCES|              81228.00|
|EASTER,  PHYLLINIS M|           RECRUITER|HUMAN RESOURCES|              88788.00|
|        ENG,  JOSEPH|SENIOR PROGRAMMER...|HUMAN RESOURCES|              90288.00|
|     FISHER,  IRIS M|CLASSIFICATION & ...|HUMAN RESOURCES|              90288.00|
+--------------------+--------------------+---------------+----------------------+
only showing top 20 rows

In [133]:
chicago5=chicago4.toPandas()

In [134]:
chicago5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
Department    35 non-null object
X             35 non-null float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

In [146]:
chicago5["X"]=chicago5["X"].astype(int)

In [147]:
chicago5.info() # look at the change in memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
Department    35 non-null object
X             35 non-null int32
dtypes: int32(1), object(1)
memory usage: 500.0+ bytes

In [75]:
sparkp.sparkContext.getConf().getAll()

[('spark.sql.catalogImplementation', 'hive'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.host', 'WINPG186028-3FP.TD.TERADATA.COM'),
 ('spark.app.id', 'local-1569512807811'),
 ('spark.driver.port', '56998'),
 ('spark.app.name', 'Word Count'),
 ('spark.ui.showConsoleProgress', 'true')]

In [3]:
string = "A quick , very quick little brown fox jumps over the lazy dog."

In [10]:
sparkp = SparkSession.builder.appName("Word Count").master("local[2]").getOrCreate()

In [11]:
rdd=sparkp.sparkContext.parallelize([string]).flatMap(lambda x : x.split(" ")).map(lambda w:(w,1)).reduceByKey(lambda a,b:a+b)

In [15]:
rdd.toDebugString()

b'(8) PythonRDD[17] at collect at <ipython-input-12-4ff2a94bd2aa>:1 []\n |  MapPartitionsRDD[16] at mapPartitions at PythonRDD.scala:122 []\n |  ShuffledRDD[15] at partitionBy at NativeMethodAccessorImpl.java:0 []\n +-(8) PairwiseRDD[14] at reduceByKey at <ipython-input-11-ae271ce96034>:1 []\n    |  PythonRDD[13] at reduceByKey at <ipython-input-11-ae271ce96034>:1 []\n    |  ParallelCollectionRDD[12] at parallelize at PythonRDD.scala:175 []'

In [17]:
rdd.

AttributeError: 'PipelinedRDD' object has no attribute 'dependencies'

In [1]:
spark

In [1]:
from pyspark.sql import SparkSession
from pyspark import SQLContext
from pyspark import SparkConf
import numpy

In [2]:
cnf = SparkConf()

In [3]:
cnf.set("spark.jars", "C:\\Users\pg186028\Documents\DataVisualization\mongo-spark-connector_2.11-2.4.1.jar")

In [33]:
sparkMongo = SparkSession.builder.appName("pySparkMogoDb").master("local[2]")\
    .config("spark.mongodb.input.uri=mongodb://127.0.0.1:27017/school.scores") \
    .config("spark.mongodb.output.uri=mongodb://127.0.0.1:27017/school.scores") \
    .config('spark.driver.extraClassPath', working_directory) \
    .getOrCreate()

In [41]:
daf=spark.read.format("com.mongodb.spark.sql.DefaultSource").options(url="mongodb://127.0.0.1:27017/school.scores")

In [42]:
daf.show()

AttributeError: 'DataFrameReader' object has no attribute 'show'

In [27]:
x=daf.

In [28]:
type(x)

method

In [29]:
x.sh

Py4JJavaError: An error occurred while calling o118.load.
: java.lang.ClassNotFoundException: Failed to find data source: mongo. Please find packages at http://spark.apache.org/third-party-projects.html
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:635)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:190)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:164)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.ClassNotFoundException: mongo.DefaultSource
	at java.net.URLClassLoader.findClass(URLClassLoader.java:382)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:357)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$23$$anonfun$apply$15.apply(DataSource.scala:618)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$23$$anonfun$apply$15.apply(DataSource.scala:618)
	at scala.util.Try$.apply(Try.scala:192)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$23.apply(DataSource.scala:618)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$23.apply(DataSource.scala:618)
	at scala.util.Try.orElse(Try.scala:84)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:618)
	... 13 more